body {
    margin:0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

/* Header Component Styles */
.header {
    background-color: #86cd82;
    padding: 1rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Krona One", sans-serif;
    font-size: 1.8rem;
    color: #000;
    margin: 0;
}

.logo-link,
.logo-link:hover {
    text-decoration: none;
}

.nav-links a,
.nav-links button {
    margin-left: 1rem;
    font-size:1rem;
    text-decoration: none;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-links button:hover,
.nav-links a:hover {
    text-decoration: underline;
}

/* Home Page */
.home-container{
    padding: 2rem;
    text-align: center;
}

.home-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 2rem;
}

/* Horse Previw Card */
.horse-preview-card {
    background-color: #fff;
    border: 2px solid #72a276;
    border-radius: 20px;
    padding: 0.25rem 1.5rem 1.5rem 1.5rem;
    max-width: 300px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.horse-preview-card h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1rem;
}

.horse-preview-card p {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.view-link{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #86cd82;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 500;
}

.view-link:hover {
    background-color: #72a276;
}

.no-selection {
    font-style: italic;
    color: #666
}